<!doctype html>
<html lang="en">
    <head>
        <title>SPA-I Test Application</title> 

        <link rel="stylesheet" href="todos.css"/>

        <script type="text/javascript" src="./lib/jquery.js"></script>
        <script type="text/javascript" src="./lib/underscore.js"></script>
        <script type="text/javascript" src="./lib/backbone.js"></script>        
        <script type="text/javascript" src="./lib/backbone-associations.js"></script>        

        <script type="text/javascript" src="todos.js"></script>

        <script>
            window.counter=0;
            window.extendsModel = Backbone.Model.extend();
            function testBed(extend){
                //window.extendsModel = window.extendsModel ? window.extendsModel : Backbone.Model.extend();
                window["model"+window.counter] = extend? new Backbone.AssociatedModel() : new Backbone.Model({fname: 'fname'+window.counter});
                window.counter++;
            }
        </script>
    </head>

    <body>
        <input type="button" onclick="testBed()" value="Create a BB model"/>
        <input type="button" onclick="testBed(true)" value="Create an extended BB model"/>

        <div id="todoapp">
            <header>
            <h1>Todos</h1>
            <input id="new-todo" type="text" placeholder="What needs to be done?">
            </header>

            <section id="main">
            <input id="toggle-all" type="checkbox">
            <label for="toggle-all">Mark all as complete</label>
            <ul id="todo-list"></ul>
            </section>

            <footer>
            <a id="clear-completed">Clear completed</a>
            <div id="todo-count"></div>
            </footer>

        </div>

        <div id="instructions">
            Double-click to edit a todo.
        </div>

        <!-- Templates -->
        <script type="text/template" id="item-template">
            <div class="view">
                <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
                <label><%- title %></label>
                <a class="destroy"></a>
            </div>
            <input class="edit" type="text" value="<%- title %>" />
        </script>

        <script type="text/template" id="stats-template">
            <% if (done) { %>
                <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
                <% } %>
            <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
        </script>
    </body>
</html>
