

/*************************************************************************************************/

/* Firebug Tracing Console customization. All messages from this example use this color.
   This helps to distinguish logs from those coming from Firebug
   Rule syntax: .DBG_<ext-id>
   See: http://getfirebug.com/wiki/index.php/FBTrace for more details */
.DBG_SPA_EYE {
    color: rgb(101, 0, 114);
}

/*************************************************************************************************/

.hide {
    display: none;
}