<html>
    <head>
        <title>View: Underscore Template</title>

        <script src="../../_vendor/jquery.js"></script>
        <script src="../../_vendor/underscore.js"></script>
        <script src="../../_vendor/backbone.js"></script>
    </head>
    <body>
        <h1>
            Questions
        </h1>
        <div id="questions-div">
            <button id="createViewButton">Create Question</button>
            <ul>
            </ul>
        </div>
        <script type="text/template" id="question-template">
            <li id="<%= questionId %>">
                <a href="#<%= questionId%>">
                    <%= questionId %>
                </a>
                <span>
                    <%= questionDescription %>
                </span>
            </li>
        </script>
        <script type="text/javascript">
            var number = 1;

            // QuestionModel Class
            var QuestionModel = Backbone.Model.extend({
                defaults: {
                    questionId: null,
                    questionDescription: null
                }
            });

            // QuestionView Class
            var QuestionView = Backbone.View.extend({
                tagName: 'li',
                template: _.template($('#question-template').html()),
                initialize: function () {
                    this.listenTo(this.model, 'change', this.render);
                    this.listenTo(this.model, 'destroy', this.remove);
                },
                render: function () {
                    this.$el.html(this.template(this.model.toJSON()));
                    return this;
                }
            });

            var AllQuestionView = Backbone.View.extend({
                el: '#questions-div',
                events: {
                    'click #createViewButton': 'createNewAnswer'
                },
                createNewAnswer: function() {
                    var model = new QuestionModel({
                        questionId: 'model' + number,
                        questionDescription: 'model' + number++ + ' desc'
                    });
                    var questionView = new QuestionView({model: model});
                    this.$el.find('ul').append(questionView.render().$el.html());
                }
            });

            // Initialization for AllQuestionView
            var allQuestionView = new AllQuestionView();
            allQuestionView.render();
        </script>
    </body>
<html>
